@model List<WebApplication8.Models.Student>
@{
    ViewBag.Title = "Student List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<html>
<head>
    <title>Index</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Branch</th>
                <th>Section</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.Name</td>
                <td>@student.Branch</td>
                <td>@student.Section</td>
                <td>@student.Gender</td>

                <td class="text-center"><a href="#" class="btn btn-primary">View</a></td>
                <td class="text-center"><a href="#" class="btn btn-primary">Edit</a></td>
                <td class="text-center"><a href="#" class="btn btn-danger">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>

